---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import Features from '../components/Features';
import CodePreview from '../components/CodePreview';
import Footer from '../components/Footer';


const exampleCode = `package main

import (
    "fmt"
    "log"
    "github.com/LetsFocus/configManager"
)

type AppConfig struct {
    DBUrl      string \`env:"DB_URL" default:"postgres://localhost:5432" required:"true"\`
    APIToken   string \`env:"API_TOKEN"\`
    ServerPort int    \`env:"SERVER_PORT" default:"8080"\`
    DebugMode  bool   \`env:"DEBUG_MODE" default:"false"\`
}

func main() {
    // Create a new config manager
    cm := configManager.New()
	
    // Define a struct to hold your configuration
    var config AppConfig

    // Unmarshal data from environment variables into the config struct
    err = cm.Unmarshal(&config)
    if err != nil {
        log.Fatal(err)
    }

    fmt.Println("Configs Loaded")
}`;
---

<Layout title="configManager - Modern Configuration Management for Go">
  <main>
    <Hero client:load />
    <Features client:visible />
    <section class="py-24 bg-dark text-light">
      <div class="max-w-4xl mx-auto px-4">
        <h2 class="text-3xl font-bold mb-12 text-center">Simple to Use</h2>
        <CodePreview client:visible code={exampleCode} />
      </div>
    </section>
    <Footer/>
  </main>
</Layout>

